 
       .main-container { 
            border: 2px solid black; 
            padding: 10px; 
            width: 90%; 
            margin: 20px auto; 
            font-family: serif; 
        } 
 
        .header { 
            background-color: #d3d3d3; 
            text-align: center; 
            padding: 15px; 
            margin-bottom: 20px; 
            font-size: 18px; 
            font-weight: bold; 
        } 
        .highlight { 
            color: red; 
            display: inline;  
        } 
        ul { 
            list-style-type: none; 
            padding: 0; 
            margin: 0 0 10px 0; 
        } 
 
        a { 
            text-decoration: none; 
            color: blue; 
        } 
 
        .menu-inline-block li { 
            display: inline-block; 
            background-color: #add8e6;  
            padding: 5px 15px; 
            margin-right: 5px; 
            border: 1px solid #ccc; 
        } 
 
        .menu-float li { 
            float: left; 
            display: block; 
            background-color: #90ee90;  
            padding: 5px 15px; 
            margin-right: 5px; 
            border: 1px solid #ccc; 
            color: black; 
        } 
        .clear-fix { 
            clear: both; 
} 