body{
    background-color: blueviolet;
    margin: 0px;
    padding: 0px;
    /* background-image: url("balle.jpg");
    background-repeat: repeat-x;
    background-position: top 2px; */
    /* background: url("balle.jpg")  no-repeat, url("IMG_20221003_125152.jpg");
    background-repeat: no-repeat;
     */

}
html,*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
p{
    font-family: Arial ;
    font-size: medium;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px rgb(215, 253, 0);
    display: inline-block;

}
#para{
    color: chartreuse;
}
img{
    float: left;
    margin-right: 20px;
    border: 10px solid magenta;
    border-radius: 50%;


}